".source.praat":
  "For Loop":
    prefix: "for"
    body: """
      for ${1:i} from ${2:1 to 10}
      \t${0:}
      endfor
    """
  Formulary:
    prefix: "form"
    body: """
      form ${1:Title}
      \t${0:#Content...}
      endform
    """
  "If Condition":
    prefix: "if"
    body: """
      if ${1:}
      \t${0:}
      endif
    """
  Procedure:
    prefix: "procedure"
    body: """
      procedure ${1:procedureName}: ${2:argument_1}
      \t${0:}
      endproc
    """
  "Repeat Loop":
    prefix: "repeat"
    body: """
      repeat
      \t${2:}
      until ${1:}
    """
  "While Loop":
    prefix: "while"
    body: """
      while ${1:}
      \t${0:}
      endwhile
    """
  "Praat chunk":
    prefix: "code"
    body: """
    ```praat
    ${0:}
    ```
    """
