scopeName: 'source.praat.noweb'
fileTypes: [
  'praatnw'
  'praat.nw'
  'praat-nw'
]
name: 'Praat (Noweb)'

undefined: 'foldingStartMarker'
'^\\s*(editor|for|if|form|procedure|proc|repeat|while)(?=\\s)': 'foldingStopMarker'
patterns: [
  {
    'begin': '^(<<([^>]+)>>=)\\s*$'
    'beginCaptures':
      '0':
        'name': 'constant.language.lterat'
      '1':
        'name': 'entity.name.type.literate'
      '2':
        'name': 'entity.name.section.literate'
    'end': '^@\\s.*$'
    'name': 'markup.code.praat.noweb'
    'contentName': 'source.praat'
    'patterns': [
      { 'include': 'source.praat' }
    ]
  }
  {
    'include': 'text.tex.latex'
  }
]
