scopeName: 'source.praat.markdown'
fileTypes: [
  'praatmd'
  'praat.md'
  'praat-md'
  'praam'
  'prtmd'
  'prt.md'
]
name: 'Praat (Markdown)'

undefined: 'foldingStartMarker'
'^\\s*(editor|for|if|form|procedure|proc|repeat|while)(?=\\s)': 'foldingStopMarker'
patterns: [
  {
    'begin': '^\\s*([`~]{3,})\\s*(?i:(praat))\\s*'
    'beginCaptures':
      '0':
        'name': 'support.gfm'
    'end': '^\\s*\\1\\s*$'
    'name': 'markup.code.praat.markdown'
    'contentName': 'source.praat'
    'patterns': [
      {
        'include': 'source.praat'
      }
    ]
  }
  {
    'include': 'source.gfm'
    'include': 'text.md'
  }
]
