'.source.praat':
  'editor':
    'autoIndentOnPaste': true
    'commentStart': '; '
    'increaseIndentPattern': '^\\s*(procedure|if|else|elsif|for|while|repeat|form|editor)'
    'decreaseIndentPattern': '^\\s*(endproc|endif|endfor|endwhile|until|endform|endeditor)'
